<div>
  <div class="navigation-spacer"></div>

  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1>
          <img src="{{app.iconUrl}}" style="max-height: 56px; border-radius: 12px;" alt=""> {{app.title}}
        </h1>
        <div class="row">
          <div class="col" style="padding: 3px;" *ngFor="let screenshot of app.screenshotUrls">
            <img src="{{screenshot}}" alt="" class="w-100" style="border-radius: 12px">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col" [innerHtml]="app.description" style="white-space: pre-line"></div>
        </div>

      </div>
      <div class="col-3 text-center" style="margin-top: 5em;">
        <a *ngIf="app.appStoreUrl" href="{{app.appStoreUrl}}" target="_blank" class="btn btn-primary btn-lg mb-3" style="background: {{app.primaryColor}}; border: 0px">
          <i class="fa-brands fa-apple"></i> App Store
        </a>
      </div>
    </div>
  </div>
</div>
