<div>
  <div class="navigation-spacer"></div>
  <div class="container-fluid" *ngIf="app.bannerUrl">

    <div class="row">
      <div class="col-12" style="background: cover; background: url('{{app.bannerUrl}}'); width:100%; height: 70vh">
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1>
          <img src="{{app.iconUrl}}" style="max-height: 50px; border-radius: 12px;" alt=""> {{app.title}}
        </h1>
        <div class="row">
          <div class="col" *ngFor="let screenshot of app.screenshotUrls">
            <img src="{{screenshot}}" alt="" class="w-100" style="border-radius: 12px">
          </div>
        </div>

        <div class="row mt-4 card-group">
          <div class="card mx-2 border-left rounded" *ngFor="let feature of app.features">
            <div class="card-body">
              <p class="text-center"><i class="fa-2x {{feature.icon}}"></i></p>
              <h5 class="card-title">{{feature.title}}</h5>
              <p class="card-text">{{feature.description}}</p>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col" [innerHtml]="app.description"></div>
        </div>

      </div>
      <div class="col-3 text-center" style="margin-top: 5em;">
        <a href="{{app.appStoreUrl}}" target="_blank" class="btn btn-primary btn-lg" style="background: {{app.primaryColor}}; border: 0px">
          <i class="fab fa-apple"></i> App Store
        </a>
        <img *ngIf="app.primaryScreenshotUrl" src="{{app.primaryScreenshotUrl}}" alt="Screenshot of {{app.title}}" class="w-100">
      </div>
    </div>
  </div>
</div>
