<div>
  <div class="navigation-spacer"></div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between">
          <div>
          <h1>
              <img src="{{app.iconUrl}}" style="max-height: 56px; border-radius: 12px;" alt="App Icon {{app.title}}">
              {{app.title}}
          </h1>
        </div>
        <div style="padding-top:40px;">
          <a *ngIf="app.appStoreUrl" href="{{app.appStoreUrl}}" target="_blank" class="btn btn-primary btn-lg mb-3 text-nowrap" style="border: 0px">
            <i class="fa-brands fa-apple"></i> App Store
          </a>
        </div>
        </div>
        <div class="row">
          <div class="col" style="padding: 3px; " *ngFor="let screenshot of app.screenshotUrls">
            <a href="{{screenshot}}" target="_blank" rel="noopener noreferrer">
              <img src="{{screenshot}}" alt="" class="w-100" style="border-radius: 12px;">
            </a>
          </div>
          <div class="col" *ngIf="app.screenshotUrls.length <= 4"></div>
          <div class="col" *ngIf="app.screenshotUrls.length <= 3"></div>
          <div class="col" *ngIf="app.screenshotUrls.length <= 2"></div>
        </div>

        <div class="row mt-5">
          <div class="col" style="white-space: pre-line">
            {{app.description}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
