<ng-template [ngIf]="showDefaultHeader">
<div class="header">
  <!-- <div class="navigation-spacer"></div> -->
  <div id="header-vertical-container">
    <div id="header-vertical-content">
      <div class="fixed-header-text no-hidden bg-lg-wallpapergray py-3" [style.opacity]="contentOpacity">

        <div class="header-portrait-image">
            <img src="assets/portrait-2.jpg" alt="Toni Hoffmann Portrait" title="Toni Hoffmann Portrait" />
        </div>

        <h1 class="py-0 h1 mt-0" *ngIf="asHeader">Toni Hoffmann</h1>
        <div class="py-0 h1 mt-0" *ngIf="!asHeader">Toni Hoffmann</div>

        <hr class="seperator">

        <div class="larger d-none d-lg-block">
          <span class="px-3 border-right border-gray">Software Developer</span>
          <span class="px-3 border-right border-gray">Photographer</span>
          <span class="px-3">Musician</span>
        </div>
        <div class="larger mt-3 d-block d-lg-none">
          <span>Software Developer</span><br/>
          <span>Photographer</span><br/>
          <span>Musician</span>
        </div>

      </div>
    </div>
  </div>
  <div class="header-image" [ngClass]="{'header-image-right': coverRight}"></div>
</div>
</ng-template>

<ng-template [ngIf]="!showDefaultHeader">
<div class="header">
  <div class="header-container-filler">
    <div class ="header-vertical-center">
      <div class="fixed-header-text no-hidden text-gradient" [style.opacity]="contentOpacity">
        <div class="p-2">
          <h1 class="py-0 h1 mt-0" *ngIf="asHeader">Toni Hoffmann</h1>
          <div class="py-0 h1 mt-0" *ngIf="!asHeader">Toni Hoffmann</div>
          <h2 class="p-0" *ngIf="galleryTitle">{{galleryTitle}}</h2>
          <h3 class="p-0" *ngIf="gallerySubtitle">{{gallerySubtitle}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="header-image" style="background-image:url('{{galleryImage}}')"></div>
</div>
</ng-template>
