
.hover-container {
  z-index: 0;
  transition: all 0.5s ease-in-out;

  .hover-show {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .black-hover-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .box-content {

    .box-title {
      font-size: 1.4em;
    }
  }

  &:hover {
    transform: scale(1.05);
    z-index: 1;
    .hover-show, .black-hover-box {
      opacity: 1;
    }
  }

}
