<div class="text-center" [ngClass]="{'hover-container': hoverAnimation, 'scale-hover-container': hoverAnimation, 'scale-hover-child': hoverAnimation}" style="position:relative;">
  <!-- TODO if no href make this no link -->
  <a [attr.href]="href" target="{{target}}">

    <img src="{{imageUrl}}" class="w-100" alt="{{description}}" />

    <div class="black-hover-box"></div>

    <div class="box-content text-white absolute-bottom" [ngClass]="{'bg-gradient-background': textBackground}" *ngIf="title || description">
      <div class="hover-show mb-3 px-2" [innerHtml]="description"></div>
      <!-- TODO check if this should show on mobile -->
      <div class="box-title mb-2" [ngClass]="{'hover-show': hideBoxTitle}">{{title}}</div>
    </div>

  </a>
</div>
