<div class="text-center" [ngClass]="{'hover-container': hoverAnimation}" style="position:relative;">
  <!-- TODO if no href make this no link -->
  <a [href]="href" target="{{target}}">

    <img src="{{imageUrl}}" class="w-100" alt="{{description}}" />

    <div class="black-hover-box"></div>

    <div class="box-content text-white absolute-bottom">
      <div class="hover-show mb-3 px-2" [innerHtml]="description"></div>
      <div class="box-title mb-2" [ngClass]="{'hover-show': hideBoxTitle}">{{title}}</div>
    </div>

  </a>
</div>
