<div class="header">
    <div id="header-vertical-container">
        <div id="header-vertical-content">
            <div class="fixed-header-text no-hidden">
                <div class="header-portrait-image">
                    <a href="#contactsection"><img src="https://www.toni-hoffmann.com/images/portrait.jpg" alt="Toni Hoffmann Portrait" title="Toni Hoffmann Portrait"></a>
                    <!-- <a href="#contactsection"><img src="images/portrait.jpg" alt="Toni Hoffmann Portrait" title="Toni Hoffmann Portrait"></a> -->
                </div>
                <h1>Toni Hoffmann</h1>
                <hr class="seperator">
                <div>
                    <a href="#devsection" class="ghost-button ghost-button-semi-transparent" onClick="javascript:_gaq.push(['_trackEvent', 'button-click', 'home', 'Software Developer', 1]);">Software Developer</a>
                    <a href="#photosection" class="ghost-button ghost-button-semi-transparent" onClick="javascript:_gaq.push(['_trackEvent', 'button-click', 'home', 'Photographer', 1]);">Photographer</a>
                    <a href="#musicsection" class="ghost-button ghost-button-semi-transparent" onClick="javascript:_gaq.push(['_trackEvent', 'button-click', 'home', 'Musician', 1]);">Musician</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-image"></div>
</div>