<app-header-banner [showDefaultHeader]="true"></app-header-banner>
<div class="content container-fluid">
  <div class="row py-5">
    
    <div class="col-md-4 p-0 m-0">
      <a href="/development">
        <img src="https://farm6.staticflickr.com/5610/30981074620_4ce0f6476d_b.jpg" style="width:100%;" />
        <div style="margin-top:-100px; text-align: center; color:white; font-size: 2em;">
          Software Development
        </div>
      </a>
    </div>
    
    <div class="col-md-4 p-0 m-0">
      <a href="/photography">
        <img src="https://farm2.staticflickr.com/1805/43296374782_3341d7d698_b.jpg" style="width:100%;" />
        <div style="margin-top:-100px; text-align: center; color:white; font-size: 2em;">
          Photography
        </div>
      </a>
    </div>
    
    <div class="col-md-4 p-0 m-0">
      <a href="/music">
        <img src="/assets/20180303-040401-DSC04777_edit_middle.jpg"
          style="width:100%;" />
        <div style="margin-top:-100px; text-align: center; color:white; font-size: 2em;">
          Music
        </div>
      </a>
    </div>
    
  </div>
</div>
