<app-header></app-header>
<div class="content">
  <div class="row">

    <div class="col-md-4">
      <img src="https://farm66.staticflickr.com/65535/49488995108_5283113839.jpg" style="width:100%;"/>
      <div style="margin-top:-50px;">
        <ghost-button [routerLink]="'development'">
          Software Development
        </ghost-button>
      </div>    </div>
      <div class="col-md-4">
        <img src="https://farm66.staticflickr.com/65535/49488995108_5283113839.jpg" style="width:100%;"/>
        <div style="margin-top:-50px;">
          <ghost-button [routerLink]="'photography'">
            Photography
          </ghost-button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://farm66.staticflickr.com/65535/49488995108_5283113839.jpg" style="width:100%;"/>
        <div style="margin-top:-50px;">
          <ghost-button [routerLink]="'music'">
            Musician
          </ghost-button>
        </div>
      </div>
    </div>
  </div>
