<app-header [showDefaultHeader]="true" [coverRight]="true" [asHeader]="true"></app-header>
<div class="content container-fluid overflow-hidden">

  <div class="row pb-5">

    <div class="col-md-4 p-0 m-0">
      <app-image-card [title]="'Software Development'"
        [description]="'Professional Full-Time-Coder, since over a decade'" href="/development/."
        [imageUrl]="'/assets/software-developer-banner-small.webp'"></app-image-card>
    </div>

    <div class="col-md-4 p-0 m-0">
      <app-image-card [title]="'Photography'" [description]="'Passionated photographer, for half of a decade'"
        href="/photography/." [imageUrl]="'https://farm2.staticflickr.com/1805/43296374782_3341d7d698_z.jpg'">
      </app-image-card>
    </div>

    <div class="col-md-4 p-0 m-0">
      <app-image-card [title]="'Music'" [description]="'Hobby DJ, a decade ago'" href="/music/."
        [imageUrl]="'/assets/20180303-040401-DSC04777_edit_small_edit.webp'"></app-image-card>
    </div>

  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="text-black text-center larger">
        
        <p>
          <span><fa-icon icon="quote-right"></fa-icon></span> Hi there,<br />
          my name is <b>Toni</b> and I'm based close to Munich, Bavaria, Germany.
        </p>
        <p>
          As a profession I work as a Software Engineer, and next to my passion to technology, I love to concern myself with more creative work like photography, music or nature.
          It is simply a great feeling, to hike at sunrise and frame that moment forever in a picture.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <a routerLink="/contact/." class="btn btn-outline-dark mx-auto">
      <fa-icon icon="address-card"></fa-icon> Contact me
    </a>
  </div>

</div>