.hover-container{
  z-index: 0;

  .hover-child{
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
  }
  .scale-image{
    transition: all 0.5s ease-in-out;
  }

  &:hover{
    z-index: 1;
    .hover-child{
      opacity: 1;
      transform: scale(1.05);
    }
    .scale-image{
      transform: scale(1.05);

    }
  }

}



.box-title{
  text-align: center; color:white; font-size: 2em; position: absolute; left: 0; right: 0; bottom: 30px;
text-align: center; color:white; font-size: 2em; position: absolute; left: 0; right: 0; bottom: 30px;
text-align: center; color:white; font-size: 2em; position: absolute; left: 0; right: 0; bottom: 30px;
}

.box-description{
  text-align: center; color:white; font-size: 1.2em; position: absolute; left: 0; right: 0; bottom: 100px;
text-align: center; color:white; font-size: 1.2em; position: absolute; left: 0; right: 0; bottom: 100px;
text-align: center; color:white; font-size: 1.2em; position: absolute; left: 0; right: 0; bottom: 100px;
}
