.hover-container{
  z-index: 0;

  .hover-child{
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
  }
  .scale-image{
    transition: all 0.5s ease-in-out;
  }

  &:hover{
    z-index: 1;
    .hover-child{
      opacity: 1;
      transform: scale(1.05);
    }
    .scale-image{
      transform: scale(1.05);

    }
  }

}
