<div class="customimagemodal" style="visibility: visible; opacity: 1;" *ngIf="photo">
	<div class="customimagemodal-blurbackground" style="background-image: url(&quot;https://farm66.staticflickr.com/65535/49489692872_a202029a13.jpg&quot;);"></div>
	<div class="customimagemodal-container">
		<div class="customimagemodal-spinner" style="display: none;">
				<div class="spinner">
					<div class="rect"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
		</div>
		<div class="customimagemodal-imagecontainer">
			<!-- TODO put alt text here -->
			<img class="customimagemodal-image" alt="Popup Image" data-bind="attr:{src: imageModaleUrl}" src="https://farm66.staticflickr.com/65535/49489692872_a202029a13_b.jpg" style="display: inline-block;">
		</div>
		<div class="customimagemodal-title">Sylvensteinspeicher</div>
	</div>
</div>
