<div class="customimagemodal" [ngClass]="{'hidethis': hide}" (click)="close()">
	<div class="customimagemodal-blurbackground" style="background-image: url(&quot;{{photo && photo.url}}&quot;);"></div>
	<div class="customimagemodal-container">

		<app-spinner *ngIf="loading"></app-spinner>

		<div class="customimagemodal-imagecontainer" [ngClass]="{'opacity-0': loading}">
			<img class="d-inline-block" alt="{{photo && photo.title}}" src="{{photo && photo.bigurl}}" (click)="$event.stopImmediatePropagation()" (load)="loading=false" />
		</div>

		<div class="customimagemodal-title">
			<span (click)="$event.stopImmediatePropagation()">{{photo && photo.title}}</span>
		</div>

		<div class="mt-2">
			<app-call-to-action [text]="'Interest in this picture?'" [style]="'outline-light'" [position]="'d-block'" [showTime]="'4000'" (click)="$event.stopImmediatePropagation()" #callToAction></app-call-to-action>
		</div>

	</div>
	<div class="absolute-top-right m-4 text-right text-white point-cursor huge" (click)="close()">
		<button class="btn btn-outline-light">Close</button>
	</div>
</div>
