<div class="customimagemodal" [ngClass]="{'hidethis': hide}">
	<div class="customimagemodal-blurbackground" style="background-image: url(&quot;{{photo && photo.url}}&quot;);"></div>
	<div class="customimagemodal-container">
		<app-spinner *ngIf="loading"></app-spinner>
		<div class="customimagemodal-imagecontainer" [ngClass]="{'opacity-0': loading}">
			<!-- TODO think about smoothly animating on load -->
			<img class="d-inline-block point-cursor" alt="{{photo && photo.title}}" src="{{photo && photo.bigurl}}" (click)="close()" (load)="loading=false">
		</div>
		<div class="customimagemodal-title">{{photo && photo.title}}</div>
		<div class="mt-2">
			<app-call-to-action [text]="'Interest in this picture?'" [style]="'outline-light'" [position]="'d-block'" [showTime]="'2000'" #callToAction></app-call-to-action>

		</div>

	</div>
	<div class="absolute-top-right m-4 text-right text-white point-cursor huge" (click)="close()">
		<a class="btn btn-outline-light">Close</a>
		<!-- <i class="fas fa-times"></i> -->
	</div>
</div>
