<app-header [galleryTitle]="'Mobile App Developer'" [galleryImage]="'/assets/apps/MobileAppBanner.webp'"></app-header>
<div class="content">
  <div class="container">

    <h1>App Portfolio</h1>

    <div class="row mt-4">
      <div class="mx-2 col-md-3 border mb-3 rounded" *ngFor="let app of apps">

        <div class="card-body">
          <div class="text-center">
            <img src="{{app.iconUrl}}" style="max-height: 60px; border-radius: 10px;" alt=""><br />
            <h5 class="card-title mt-2">
              {{app.title}}
            </h5>
          </div>

          <div style="">
            {{app.shortDescription}}
          </div>
          <p class="card-text">


            <a href="/apps/{{app.id}}" class="btn btn-primary mt-2">More details</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
