<app-header [showDefaultHeader]="true"></app-header>
<div class="content">
  <div class="container pt-2">


    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 DDG</h2>
    <p>
      Toni Hoffmann<br>
      Bromberger Weg 1<br>
      82140 Olching<br>
      Deutschland
    </p>

    <h2>Kontakt</h2>
    <p>
      E-Mail: <a href="mailto:kontakt@toni-hoffmann.com">kontakt&#64;toni-hoffmann.com</a>
    </p>

    <h2>Verantwortlich für den Inhalt</h2>
    <p>Toni Hoffmann, Anschrift wie oben.</p>

    <h2>Urheberrecht</h2>
    <p>
      Die auf dieser Website veröffentlichten Inhalte und Werke unterliegen dem deutschen Urheberrecht. Eine Nutzung
      außerhalb der Grenzen des Urheberrechts bedarf der vorherigen Zustimmung des jeweiligen Rechteinhabers.
    </p>

    <p>© {{currentYear}} Toni Hoffmann</p>
    </div>
  </div>
