<div class="header">
  <a href="/" class="ghost-button ghost-button-transparent-light mb-5 mt-1 back-button">
    <span><i class="fas fa-chevron-left mr-2"></i>Back</span>
  </a>
  <div style="display:table;position: absolute;z-index: 3; height:100%; width:100%;">
    <div style="display: table-cell; vertical-align: middle;">
      <div class="fixed-header-text no-hidden" style="color:white; max-width:100%; background: linear-gradient(to right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 0.4) 40%,rgba(0,0,0, 0.4) 60%,rgba(0,0,0, 0.0) 100%); text-transform: uppercase;">
        <div class="p-2">
          <h1 class="p-0">Toni Hoffmann</h1>
          <h2 class="p-0">{{galleryTitle}}</h2>
          <h3 class="p-0">{{gallerySubtitle}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="header-image" style="background-image:url('{{galleryImage}}')"></div>
</div>
