<ng-container *ngIf="album">
  <app-header-banner [galleryTitle]="album.title" [gallerySubtitle]="album.subTitle" [galleryImage]="album.imageUrl"></app-header-banner>
  <div class="content bg-dark" *ngIf="images && images.length">
    <ui-xGallerify [images]="images" [imageTemplate]="imageTemplate" #myGallery></ui-xGallerify>
    <ng-template #imageTemplate let-image="image">
      <!-- TODO check why you can't open the same image twice -->
      <div class="xgallerify-container">

        <img class="xgallerify-img" src="{{image.url}}" (load)="myGallery.imageLoaded($event, image)" (click)="showPhotoModal(image)">
        <div class="absolute-bottom text-center p-3 text-white image-description">
        {{image.title}}
        </div>
      </div>

    </ng-template>
  </div>
  <app-photo-modal #photoModal></app-photo-modal>
</ng-container>
<app-call-to-action [showScrollPosition]="'1000'"></app-call-to-action>
