<ng-container *ngIf="album">
  <app-header [galleryTitle]="album.title" [gallerySubtitle]="album.subTitle" [galleryImage]="album.imageUrl"></app-header>
  <div class="content bg-dark" *ngIf="images && images.length">
    <ui-xGallerify [images]="images" [imageTemplate]="imageTemplate" #myGallery></ui-xGallerify>
    <ng-template #imageTemplate let-image="image">
      <div class="xgallerify-container hover-container overflow-hidden" (click)="showPhotoModal(image)">

        <img class="xgallerify-img hover-scale-child" src="{{image.url}}" (load)="myGallery.imageLoaded($event, image)">
        <div class="absolute-bottom text-center p-3 text-white image-description bg-gradient-background">
        {{image.title}}
        </div>
      </div>

    </ng-template>

    <div class="text-center p-4" *ngIf="pages && pages.length && pages.length > 1">
      <a
      routerLink="/photography/{{album.id}}/{{i == 0 ? '' : i}}"
      class="btn btn-outline-light ml-2"
      [ngClass]="{'btn-light': i == page, 'btn-outline-light': i != page}"
      *ngFor="let i of pages">
        {{(+i + 1)}}
      </a>
    </div>

  </div>
  <app-photo-modal #photoModal></app-photo-modal>
</ng-container>

<app-call-to-action [showScrollPosition]="callToAction" [text]="'Interest in a collaboration?'" *ngIf="album.id === 'products'"></app-call-to-action>
<app-call-to-action [showScrollPosition]="callToAction" [text]="'Interest in a picture?'" *ngIf="album.id !== 'products'"></app-call-to-action>
