.xgallerify-container:hover{
  cursor: pointer;
}

.xgallerify-container:hover .image-description{
  opacity: 1;
}

.image-description{
  opacity: 0;
  transition: opacity .5s ease-in-out;
  font-size: 1.2em;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
