<ng-container *ngIf="album">
  <app-header-banner [galleryTitle]="album.title" [gallerySubtitle]="album.subTitle" [galleryImage]="album.imageUrl"></app-header-banner>
  <div class="content bg-dark" *ngIf="images && images.length">
    <ui-xGallerify [images]="images" [imageTemplate]="imageTemplate" #myGallery></ui-xGallerify>
    <ng-template #imageTemplate let-image="image">
      <!-- TODO check why you can't open the same image twice -->
      <div class="xgallerify-container" (click)="showPhotoModal(image)">

        <img class="xgallerify-img" src="{{image.url}}" (load)="myGallery.imageLoaded($event, image)">
        <div class="absolute-bottom text-center p-3 text-white image-description">
        {{image.title}}
        </div>
      </div>

    </ng-template>

    <div class="text-center p-3">
      <a href="/photography/{{album.id}}/{{previousPage == 0 ? '' : previousPage}}" [ngClass]="{'disabled': !hasPrevious}" class="btn btn-primary mr-2">Previous</a>
      <a href="/photography/{{album.id}}/{{nextPage}}" [ngClass]="{'disabled': !hasNext}" class="btn btn-primary ml-2">Next</a>
    </div>

  </div>
  <app-photo-modal #photoModal></app-photo-modal>
</ng-container>
<app-call-to-action [showScrollPosition]="callToAction" [text]="'Interest in a picture?'"></app-call-to-action>
