<app-header-banner [galleryTitle]="'Software Developer'" [galleryImage]="'https://farm6.staticflickr.com/5610/30981074620_4ce0f6476d_b.jpg'"></app-header-banner>

<div class="content">
  <div class="container text-center pt-5 ">
    <h1>Software Development Portfolio</h1>
    <p>
      <i class="fas fa-quote-right text-black-50 pr-1"></i> <b class="larger">Software Engineering is about complex problem solving, understanding people, creating aesthetic design, being a communicator between domain areas, achieving goals, performing creativity, thinking in strategies... but it's also about coding and a passion to tech.</b>
      <br/>
      <span class="larger">~ Toni Hoffmann ~</span>
    </p>

    <!-- Skills -->

    <h2>Skills</h2>

    <div class="row large">
      <div class="col-md-4">
        <app-image-card [title]="'Native mobile Apps'" [imageUrl]="'assets/native-mobile-apps-banner.jpg'" [hoverAnimation]="false"></app-image-card>
      </div>
      <div class="col-md-4">
        <app-image-card [title]="'Business Web-Apps'" [imageUrl]="'assets/business-web-apps-banner.webp'" [hoverAnimation]="false"></app-image-card>
      </div>
      <div class="col-md-4">
        <app-image-card [title]="'UX-Design'" [imageUrl]="'assets/ux-design-banner.jpg'" [hoverAnimation]="false"></app-image-card>
      </div>
    </div>

    <!-- Designs -->

    <h2>UX-Designs</h2>
    <p>
      An intuitive, simple, user-centric design is as important as a solid and scalable code. That's why I belive professional engineers should have design skills.
    </p>
    <div class="row large">
      <app-image-card [title]="'Gamification Sales App'" [imageUrl]="'assets/Gamification-Banner.png'" [hoverAnimation]="false"></app-image-card>
      <!-- <app-image-card [title]="'UX-Design'" [imageUrl]="'assets/Gamification-Banner.png'" [href]="'https://www.behance.net/gallery/95802687/Temp-Behance-Project'" [target]="'_blank'" [hoverAnimation]="false"></app-image-card> -->
    </div>

    <!-- Open Source -->
    <h2>Open Source Projects</h2>

    <a href="https://github.com/xremix" target="_blank" class="btn btn-primary my-3">Github Profile</a>

    <p>
      The idea of Open source has deep roots and contributing to other projects is always fun. So I open sourced <a href="http://github.com/xremix/toni-hoffmann-com" target="_blank">the code of this website</a> too. Here are some more samples of my open source contributions.
    </p>

    <div class="card-group mb-3" *ngFor="let openSourceProjects of openSourceProjectRows()">
      <div class="card mx-2 border-left rounded" *ngFor="let project of openSourceProjects">

        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
        </div>

        <div class="card-footer">
          <a href="{{project.url}}" target="_blank" class="btn btn-outline-primary">More</a>
        </div>

      </div>
    </div>

    <!-- leisure projects -->
    <h2>Leisure Projects</h2>

    <div class="text-center">
      <p>The following references show some spare time projects I worked on.</p>
    </div>

    <div class="row">
    		<div class="col-md-4 smaller" *ngFor="let project of leisureProjects">
          <app-image-card [title]="project.title" [description]="project.description" [href]="project.url" [imageUrl]="project.img" [target]="'_blank'" [hideBoxTitle]="true" [textBackground]="false"></app-image-card>
    		</div>
    </div>

  </div>
</div>
