<app-header-banner [showDefaultHeader]="true"></app-header-banner>
<div class="content">
  <div class="container text-center pt-5 ">
    <p>
      <i>Software Engineering is about complex problem solving, understanding people, creating aesthetic design, being a communicator between domain areas, achieving goals, performing creativity, thinking in strategies... but it's also about coding and a passion to tech.</i>
      <br/>
      ~ Toni Hoffmann ~
    </p>
    <p>
      The idea of Open source has deep roots and contributing to other projects is always fun. So I open sourced <a href="http://github.com/xremix/toni-hoffmann-com" target="_blank">the code of this website</a> too. Here are some more samples of my open source contributions.
    </p>

    <!-- Designs -->

    <!-- Open Source -->
    <h2>Open Source Projects</h2>

    <a href="https://github.com/xremix" target="_blank" class="btn btn-primary my-5">Github Profile</a>

    <div class="card-group">
      <ng-container *ngFor="let project of openSourceProjects">
        <div class="col-md-4 px-2 pb-5">
          <app-open-source-card [title]="project.title" [description]="project.description" [url]="project.url"></app-open-source-card>
        </div>
      </ng-container>
    </div>


    <!-- leisure projects -->
    <h2>Leisure Projects</h2>
    <div class="row" >
    		<div class="col-sm-4" *ngFor="let project of leisureProjects" style="font-size:0.9em;">
          <app-image-card [title]="project.title" [description]="project.description" [href]="project.url" [imageUrl]="project.img" [target]="'_blank'"></app-image-card>
    		</div>
    </div>

  </div>
</div>
