<app-header-banner
[galleryTitle]="'Photography'"
[galleryImage]="'https://farm2.staticflickr.com/1766/29475665848_4d18a74b73_b.jpg'"
></app-header-banner>
<div class="content">
  <div>
    <app-banner-link [title]="'Landscapes'" [subTitle]="'Bavarian Alps, Austria, Italy and Portugal'" [imageUrl]="'https://farm2.staticflickr.com/1805/43296374782_c5cbb7d864_h.jpg'" [href]="'/photography/landscapes'"></app-banner-link>
    <app-banner-link [title]="'Landscapes'" [subTitle]="'Bavarian Alps, Austria, Italy and Portugal'" [imageUrl]="'https://farm2.staticflickr.com/1805/43296374782_c5cbb7d864_h.jpg'" [href]="'/photography/landscapes'"></app-banner-link>
    <app-banner-link [title]="'Landscapes'" [subTitle]="'Bavarian Alps, Austria, Italy and Portugal'" [imageUrl]="'https://farm2.staticflickr.com/1805/43296374782_c5cbb7d864_h.jpg'" [href]="'/photography/landscapes'"></app-banner-link>
  </div>
</div>
