<app-header-banner [showDefaultHeader]="true"></app-header-banner>
<div class="content">
  <div class="container">

    <div class="row">
      Interesting story about my dj carreer here..
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="row" *ngFor="let songUrl of urls()">
      <iframe class="soundcloud col-12 mx-auto my-5" scrolling="no" frameborder="no"
      [src]="songUrl | safe"></iframe>
    </div>
    
  </div>
</div>
