.ghost-button, .ghost-button-semi-transparent {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
  }
  
  /*
  * Basic Ghost Button
  */
  .ghost-button {
    border: 1px solid #fff;
  }
  
  .ghost-button:hover, .ghost-button:active {
    background-color: #fff;
    color: #000;
  }
  
  /*
  * Semi-Transparent Fade
  */
  .ghost-button-semi-transparent {
    border: 2px solid #fff;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  }
  .ghost-button-transparent-light {
    border: 2px solid #fff;
    color: #fff;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  }
  
  .ghost-button-transparent-light:hover{
    color: #383838;
  }
  
  
  .ghost-button-semi-transparent:hover, .ghost-button-semi-transparent:active {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  }
  
  .ghost-button-transparent-dark {
    border: 1px solid #383838;
    color: #383838;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  }
  