<div class="{{position}} text-center call-to-action-container" [ngClass]="{'hideThis': hide}">
  <button target="_blank" (click)="clickCallToAction()" class="btn btn-{{style}}" *ngIf="!href">{{text}}</button>
  <a target="_blank" [href]="href" target="_blank" class="btn btn-{{style}}" *ngIf="href">{{text}}</a>
</div>


<div class="absolute-fill bg-black-05 fade-in" style="z-index: 2; position: fixed;" [ngClass]="{'showfade': contentVisible, 'hidefade': !contentVisible}" (click)="hideContent()">

</div>

<div class="fixed-bottom bg-white text-center pb-5 fade-bottom-in" [ngClass]="{'show': contentVisible}" style="z-index:99999999999">
  <button class="absolute-top-right mr-3 mt-3 large" (click)="hideContent()">
    <fa-icon icon="times"></fa-icon>
  </button>
  <div class="container">
    <div class="h1">Interest in a Picture?</div>
    <p>I'm glad you enjoy my photography. Many of the photos <b>can be purchased</b>, so feel free to reach out to me. The portfolio is just a reference and I have many more perspectives, angles and light conditions of these places.</p>

    <p>You can also contact me for <b>collaborations</b> or <b>private shootings</b>.</p>
    <ng-template #popContent><a>kontakt@toni-hoffmann.com</a></ng-template>
    <a class="btn btn-outline-primary btn-lg mt-5" [ngbPopover]="popContent" href="mailto:kontakt@toni-hoffmann.com" [autoClose]="false" triggers="manual" #p="ngbPopover" (mouseover)="p.open()"><fa-icon icon="envelope"></fa-icon> Contact Me</a>

  </div>
</div>
