<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand ml-md-3" routerLink="/">Toni Hoffmann</a>

    <!-- Spacer to push navigation to the right -->
    <div class="mr-auto"></div>

    <div class="form-inline my-2 my-lg-0">
      <ul class="nav navbar-nav navbar-right mr-md-3">

        <li ngbDropdown class="nav-item" ngbDropdown #myDrop="ngbDropdown" (mouseleave)="$event.stopPropagation(); myDrop.close();">
          <a routerLink="/photography" class="nav-link"  (mouseenter)="$event.stopPropagation(); myDrop.open();" routerLinkActive="active">Photography</a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="photography/{{album.id}}" *ngFor="let album of photoService.getAlbumOverview()" routerLinkActive="active">{{album.title}}</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/development" routerLinkActive="active">Software Development</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/music" routerLinkActive="active">Music</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
