$screen-md-min: 992px;

.navbar{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.dropdown-item{
  font-weight: 100;
}

.dropdown-menu{
  margin: -.125rem 0 0;
  border-radius: 0px;
  left: 8px;
  border: 0px;
  @media(min-width: $screen-md-min) {
    box-shadow: 0px 20px 15px 4px rgba(0, 0, 0, 0.2)
  }
}
