$theme-colors: (
  "primary": #09afe0
);
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$navigationSpace: 55px;
$headerHeight: 60vh;
$headerBackgroundHeight: 70vh;
$headerTextTop: 10vh;
